.vagrant/
.vscode/
.ruby-lsp/
.env
.env.old
packer/env.local.sh
packer/**/artifacts/*
!packer/**/artifacts/.gitkeep
packer/**/manifests/*
!packer/**/manifests/.gitkeep
packer/**/output*/
packer/**/.cache/
packer/**/cache/
packer/**/downloads/
packer/**/download/
packer-infra-gitops/**/artifacts/*
!packer-infra-gitops/**/artifacts/.gitkeep
packer-infra-gitops/**/manifests/*
!packer-infra-gitops/**/manifests/.gitkeep
packer-infra-gitops/**/output*/
packer-infra-gitops/**/.cache/
packer-infra-gitops/**/cache/
packer-infra-gitops/**/downloads/
packer-infra-gitops/**/download/
.terraform/
overlays/base/packer/artifacts/
overlays/base/packer/manifests/
overlays/lab/talos/generated/
overlays/prod/talos/generated/
overlays/lab/talos/*/bootstrap-ips.txt
overlays/prod/talos/*/bootstrap-ips.txt
*.tfstate
*.tfstate.backup
*.iso
*.ova
*.ovf
*.vmdk
*.qcow2
*.img
*.box
provision-talos-vsphere.code-workspace
