.packer.d/
.env
env.local.sh
**/packer_cache/
**/*.lock
.vsphere-iso.bad.*/
vsphere-iso/.oraclelinux.bad.*/
vsphere-iso/.ubuntu.bad.*/
vsphere-iso/oraclelinux/.ol9.recover.*/
vsphere-iso/ubuntu/.24-04-lts.recover.*/
