# Example values for packer/vsphere-iso/build.sh --vsphere-env-file
# Do not commit real credentials.

vsphere_endpoint="192.168.0.233"
vsphere_username="root"
vsphere_password="CHANGE_ME"
vsphere_insecure_connection="true"

vsphere_datacenter=""
vsphere_cluster=""
vsphere_host="192.168.0.233"
vsphere_datastore="DATASTORE_02"
vsphere_network="VM Network"
vsphere_folder=""
vsphere_resource_pool=""
vsphere_set_host_for_datastore_uploads="false"
