global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    user {{ haproxy_user }}
    group {{ haproxy_group }}
    maxconn {{ haproxy_global_maxconn }}
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    ca-base /etc/ssl/certs
    crt-base /etc/haproxy/certs

defaults
    log global
    mode {{ haproxy_mode }}
    option dontlognull
    option tcplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

{% if haproxy_stats_enabled %}
listen stats
    bind :{{ haproxy_stats_port }}
    mode http
    stats enable
    stats uri /
    stats refresh 10s
    stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_pass }}
{% endif %}

{% for fe in haproxy_frontends %}
frontend {{ fe.name }}
    bind {{ fe.bind }}
    mode {{ fe.mode | default(haproxy_mode) }}
    default_backend {{ fe.default_backend }}
{% endfor %}

{% for be in haproxy_backends %}
backend {{ be.name }}
    mode {{ be.mode | default(haproxy_mode) }}
    balance {{ be.balance | default(haproxy_balance_algorithm) }}
{% for srv in be.servers %}
    server {{ srv.name }} {{ srv.ip }}:{{ srv.port }} {% if srv.options is defined %}{{ srv.options }}{% else %}check{% endif %}
{% endfor %}
{% endfor %}

